# I've Started Taking Notes

I have always had a personality that gets sucked in very easily. This is great for learning things, but it can be dangerous. With the endless recommendation algorithms always throwing more stuff at you it's very easy to waste your time. I used to frequently step away from watching YouTube feeling unsatisfied with how I spent my time. 

A habit that has helped me a lot is to always take notes when I'm watching something. The goal isn't to learn or study, just to stay present. This forces me to make the concious choice about continuing to watch. If I struggle to write anything down, I should probably do something else.

It takes surprisingly little discipline to do this. It's actually infuriating to watch something with a notepad open, but without anything worth writing down happening. You will _want_ to stop watching & find something else.

This habit hasn't reduced the time I spend watching stuff, but it has lead me to watch stuff that I find more satisfying. It's amazing how much high quality stuff there is out there about interesting topics. Beneath all the slop there is stuff that's worth your time. You just need to force yourself to find it. Taking notes has helped me do that.